html {
  height: 100%;
  width: 100%;
  background-color: black;
  color: whitesmoke;
}

header{
  background-image: url("fundodegrade.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 0%;
}


.logo {
  width: 45%;
}

img.pizzasimagens {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: flex;
  align-items: center;
}

span.preco {
    font-size: 1.2em;
    color: #a7cb15;
    font-weight: bold;
  align-items: center;
}


p {
  display: flex;
  font-size: 24px;
  align-items: center;
}

a {
  color: darkred;
}

a.voltar {
   display: grid;
    font-size: 25px;
    }

ul {
  list-style-type: none;
}

.input-padrao{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  font-weight: bold;
  background: floralwhite;
}

.input-descricao{
  display: block;
  background: floralwhite;
  margin: 0 0 20px;
  padding: 50px 30px;
  width: 50%;
}

.enviar{
  width: 40%;
  padding: 15px 0;
  background: floralwhite;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.final{
  position: absolute;
  display: flex;
  font-size: 15px;
  bottom: 0;
  margin: 0; 
  padding-bottom: 0px;
  text-align: center;
}

footer{
  position: relative;
  background-color: darkred;
  margin-top: 20px;
  padding: 10px;
  border-top: 3px solid #black;
}